<div class="insideContent">
  <div>
    <h1 id="artistHeader">{{ album.albumData.title }} ({{ album.albumData.year }})</h1>
    <div class="newInsideContent">
      <div class="song" ng-repeat="song in album.songs" ng-click="album.playSong($event, $index, album.songs)">
        <img src="media/albums/{{ song.albumID }}.jpg">
        <p class="songName">{{ song.name }}</p>
        <p class="songArtist">{{ song.artist }}</p>
        <p class="songAlbum">{{ song.album }}</p>
        <p class="songGenre">{{ song.genre }}</p>
        <p class="songList" ng-click="album.addToLibrary($event, song.id)"><img src="media/add.svg"></p>
      </div>
    </div>
  </div>
</div>
