<div class="insideContent">
  <div>
    <h1 id="artistHeader">Adele</h1>
    <div class="albumSection">
       
        <div class="albumInfo">
            <img id="albumArtwork" src="media/albums/2.jpg">
            <h1 id="insideAlbumTitle">A Head Full of Dreams</h1>
            <h2 id="insideAlbumGenre">Pop</h2>
            <h2 id="insideAlbumYear">2016</h2>
        </div>
        <div class="insideAlbumSongs">
            <div class="insideSong">
                <p class="insideSongTrack">1</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">2</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">3</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">4</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">5</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">6</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">7</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
        </div>
    </div>
    <div class="albumSection">
       
        <div class="albumInfo">
            <img id="albumArtwork" src="media/albums/2.jpg">
            <h1 id="insideAlbumTitle">A Head Full of Dreams</h1>
            <h2 id="insideAlbumGenre">Pop</h2>
            <h2 id="insideAlbumYear">2016</h2>
        </div>
        <div class="insideAlbumSongs">
            <div class="insideSong">
                <p class="insideSongTrack">1</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">2</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">3</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">4</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">5</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">6</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">7</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">4</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">5</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">6</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">7</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">4</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">5</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">6</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
            <div class="insideSong">
                <p class="insideSongTrack">7</p>
                <p class="insideSongName">Hello</p>
                <p class="insideSongPlay"><img src="media/play-button.svg"></p>
                <p class="insideSongAdd">+</p>
            </div>
        </div>
    </div>
</div>
</div>
