<div class="insideContent">
  <div>
    <h1 id="artistHeader">{{ artist.artistData.name }}</h1>
    <div class="albumSection" ng-repeat="album in artist.songs | unique:'albumID'">
      <div class="albumInfo">
        <img id="albumArtwork" src="media/albums/{{ album.albumID }}.jpg">
        <h1 id="insideAlbumTitle">{{ album.album }}</h1>
        <h2 id="insideAlbumGenre">{{ album.genre }}</h2>
        <h2 id="insideAlbumYear">{{ album.albumYear }}</h2>
      </div>
      <div class="insideAlbumSongs">
        <div class="insideSong" ng-repeat="song in artist.songs" ng-if="album.albumID == song.albumID">
          <p class="insideSongTrack">{{ song.songNumber }}</p>
          <p class="insideSongName">{{ song.name }}</p>
          <p class="insideSongPlay" ng-click="artist.playSong($event, song)"><img src="media/play-button.svg"></p>
          <p class="insideSongAdd" ng-click="artist.saveSongLibrary($event, song)">+</p>
        </div>
      </div>
    </div>
  </div>
</div>
