<div class="insideContent">
    <h1>Waves – Mi Biblioteca</h1>

    <div class="newInsideContent">
        <div class="song" ng-repeat="song in library.songs" ng-click="library.playSong($event, $index, library.songs)">
           <img src="media/albums/{{ song.albumID }}.jpg">
           <p class="songName">{{ song.name }}</p>
           <p class="songArtist">{{ song.artist }}</p>
           <p class="songAlbum">{{ song.album }}</p>
           <p class="songGenre">{{ song.genre }}</p>
        </div>
    </div>
</div>
