<div id="player" ng-mouseup="holding = false">
  <img id="art" src="media/albums/{{ info.albumID }}.jpg">
  <div id="track" ng-mousedown="seekTrack($event)">
    <div id="progress"></div>
    <div id="handler" ng-mousemove="handlerSeek($event)"></div>
  </div>
  <ul>
    <li id="title">{{ info.name }}</li>
    <li id="artist">{{ info.artist }}</li>
  </ul>
  <div class="reproductor-controles">
    <img id="prev" src="media/back.svg" ng-click="prev()">
    <img id="play" src="media/{{ info.state }}.svg" ng-click="playPause()">
    <img id="next" src="media/next.svg" ng-click="next()">
  </div>
</div>
