<link rel="stylesheet" href="../css/player.css">

<div class="contenido">
    <div class="caratula">
        <img src="../img/0111.jpg" alt="">
    </div>
    <div class="time">
        <div class="time-long"></div>
    </div>
    <div class="time-clock">
        <label for="">
            <p id="lapsed">0:02</p>
            <p id="toEnd">-4:32</p>
        </label>
    </div>
    <div class="informacion">
        <p class="titulo">Don´t Wanna I Know</p>
        <p class="album sub">V</p>
        <p class="artista sub">Maroon V</p>
    </div>
    <div class="controles">
        <div class="prev">
            <img class="prev-btn" src="../img/back.svg">
        </div>
        <div class="play">
            <img id="play" class="play-btn" src="../img/play-button.svg">
        </div>
        <div class="siguiente">
            <img class="next-btn" src="../img/next.svg">
        </div>
    </div>
    <div class="bottom">
        <img src="../img/downwards-pointer.svg" alt="">
    </div>
</div>
