<div class="content">
  <div class="loginFlex">
    <h1>Registro</h1>
    <input type="text" id="nameSignUp" placeholder="Nombre">
    <input type="email" id="emailSignUp" placeholder="Correo@algo.com">
    <input type="text" id="userSignUp" placeholder="Username">
    <input type="password" id="passSignUp" placeholder="Password">
    <button class="signInBtn" id="btnSignIn" onclick="signUpClick()">Registrarme</button>
    <label>¿Ya tienes una cuenta?</label>
    <button class="littleButton" ui-sref="login">Inicia Sesión</button>
  </div>
</div>
