<div class="insideContent">
    <h1>Waves – Canciones</h1>

    <div class="newInsideContent">
        <div class="song">
           <img src="media/albums/21.jpg">
           <p class="songName">Canción</p>
           <p class="songArtist">Artista</p>
           <p class="songAlbum">Album</p>
           <p class="songGenre">Género</p>
        </div>

        <div class="song">
           <img src="media/albums/21.jpg">
           <p class="songName">Canción</p>
           <p class="songArtist">Artista</p>
           <p class="songAlbum">Album</p>
           <p class="songGenre">Género</p>
        </div>

        <div class="song">
           <img src="media/albums/21.jpg">
           <p class="songName">Canción</p>
           <p class="songArtist">Artista</p>
           <p class="songAlbum">Album</p>
           <p class="songGenre">Género</p>
        </div>
    </div>
</div>
